---
title: "Contato"
---

<h1>Contato</h1>

<div class="row">
  <div class="col-md-2">
    <img class="img-responsive img-rounded" src="/images/profile.jpg" alt="">
  </div>
  <div class="col-md-10">
    <h4>Envie-me uma mensagem através de: <b>arthurmde AT gmail.com | esposte AT ime.usp.br</b></h4>
    <hr>
    <div class="row">
      <div class="col-xs-2 col-lg-2 col-sm-2 col-md-2">
        <a class="thumbnail" href="https://gitlab.com/u/arthurmde" target="_blank">
          <img class="media-object" src="/images/gitlab.png">
        </a>
      </div>
      <div class="col-xs-2 col-lg-2 col-sm-2 col-md-2">
        <a class="thumbnail" href="https://github.com/arthurmde/" target="_blank">
          <img class="media-object" src="/images/github.png">
        </a>
      </div>
      <div class="col-xs-2 col-lg-2 col-sm-2 col-md-2">
        <a class="thumbnail" href="https://www.linkedin.com/in/arthur-del-esposte-97126689" target="_blank">
          <img class="media-object" src="/images/linkedin.png">
        </a>
      </div>
      <div class="col-xs-2 col-lg-2 col-sm-2 col-md-2">
        <a class="thumbnail" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4333533Y6" target="_blank">
          <img class="media-object" src="/images/lattes.png">
        </a>
      </div>
      <div class="col-xs-2 col-lg-2 col-sm-2 col-md-2">
        <a class="thumbnail" href="https://www.facebook.com/arthur.delesposte" target="_blank">
          <img class="media-object" src="/images/facebook.png">
        </a>
      </div>
    </div>
  </div>
</div>
